* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* .seafood-section .img-container {
    background-color: tomato;
    width: 24.1%;
    padding: 6px; */
/* display: inline-block; */
/* float: left; */
/* height: 100px; */
/* }
.seafood-section .img-container img{
    width: 100%;
    display: block;
}
.clear-float {
    clear: both;
} */


.seafood-section {
    display: flex;
    flex-wrap: wrap;
    background-color: tomato;
    /* justify-content: space-between; */
    /* word-wrap: break-word; */
}

.img-container {
    width: 25%;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    /* padding: 20px; */
}

.img-container img {
    width: 100%;
}