body {
    padding: 0;
    margin: 0;
}
.seafood-section .img-container {
    background-color: tomato;
    width: 25%;
    /* display: inline-block; */
    float: left;
    height: 100px;
}
.seafood-section .img-container img{
    width: 100%;
    display: block;
}
.clear-float {
    clear: both;
}